* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(21, 88, 130);
    color: black;
}
.navbar {
    background-color: rgba(47, 53, 91, 0.833);
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
    z-index: 10000;
    max-width: 12000px;
    color: rgb(88, 78, 78);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;

}
.nav-logo img{
    width: 200px;
    height: auto;
}
.nav-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}
.nav-link {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14pt;
    font-weight: 300;
    padding: 8px 16px;
    border-radius: 10px;
}
.nav-link:hover{
    background-color: rgb(217, 198, 235);
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .nav-container{
        flex-direction:column;
        align-items: start;
        padding: 16px;
    }
    .nav-logo img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    }
    .nav menu{
    flex-direction: column;
    gap: 8px;
    width: 100%;
    }
    .nav-item {
    margin: top 12px;
    width: 100%;

    }
}

