.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.pokemon-card {
    background-color: rgba(201, 217, 222, 0.927);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(204, 204, 204, 0.774);
    overflow: hidden;
    flex: calc(33.3333% - 32px);
    max-width: calc(33.3333% - 32px);
    min-width: 250px;
}

.pokemon-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background: linear-gradient(135deg,rgb(255, 255, 255));
}

.pokemon-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon-name {
    font-size: 18pt;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}

.pokemon-type{
    border-radius: 12px;
    padding: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: bold;
}

.type-electric{
    background: linear-gradient(135deg, #91a1e7, #4a48dd);
}
.type-grass{
    background: linear-gradient(135deg ,#aaeba2, #77df48);
}
.type-fire{
     background: linear-gradient(135deg ,#e7aeae, #e05a5a);
}
.type-water{
    background: linear-gradient(135deg, #3e9db9, #4341c9);
}
.type-normal{
    background: linear-gradient(135deg, #e7e191, #c0b62e);
}
.type-ghost{
    background: linear-gradient(135deg, #4b3096, #4341c9);
}
.type-psychic{
    background: linear-gradient(135deg, #ce0505, #0066ff,#02ee02);
}
@media screen and (max-width: 548px){
    .pokemon-card{
        flex: 100%;
        max-width: 100%;
    }
        
}