* .container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}


.trainers-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.trainer-card {
    background: linear-gradient(
    180deg,
  #ceced0 0%,
  #3f7c88 100%
);
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(40, 152, 226, 0.63);
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    min-width: 250px;
}

.trainer-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.15);
}

.trainer-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
    margin-bottom: 1rem;
}

.trainer-info {
    text-align: center;
}

.trainer-name {
    font-size: 1.3rem;
    color: #111;
}

.trainer-region,
.trainer-badges {
    font-size: 0.9rem;
    color: #0c0a09;
}

.trainer-status {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    color: #000000bb;
    font-size: 0.75rem;
    font-weight: bold;
}



.status-active { background: linear-gradient(135deg, #e14d4d, #d78c8c); }
.status-champion { background:linear-gradient(135deg, #aca531, #ffe881); }
.status-activelid { background:linear-gradient(135deg, #0bcbec, #acc0c2); }
.status-inv { background: linear-gradient(135deg, #5589c5, #808ba3); }
.status-jef { background: linear-gradient(135deg, #ea894d, #a16e58); }
.status-cri{ background:linear-gradient(135deg, #da5dd0, #d1a7c5); }

@media screen and (max-width: 768px) {
    .trainer-card {
        flex: 1 1 calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
    }
}

@media screen and (max-width: 480px) {
    .trainer-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}